{% extends "base.html" %}
{% block title %}Products{% endblock %}

{% block content %}
<div class="h-screen flex flex-col items-center">
    <div class="bg-white rounded-lg shadow-lg p-4">
        <div class="flex flex-col">
            <div class="flex-1">
                <img src="{{ product.image }}" alt="{{ product.name }}" class="w-full">
            </div>
            <div class="flex-1 p-4">
                <h3 class="text-xl font-bold">{{ product.title }}</h3>
                <p class="text-gray-700 text-base">{{ product.excerpt }}</p>
                <p class="text-gray-700 text-base">{{ product.price }}</p>
                <form method="post" action="/commerce/carts">
                    {{ csrf_field }}
                    {{ back() }}
                    <input type="hidden" name="product_id" value="{{product.id}}" />
                    <input type="hidden" name="quantity" value="1" />
                    <button type="submit" class="px-3 py-2 text-white rounded bg-black mt-4 inline-block">Add
                        To Cart</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}